<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
 -->
 <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">kluba gehitzeko formularioa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
  
      <ion-item>
        <ion-label position="stacked">Izena</ion-label>
        <ion-input [(ngModel)]="erreserba.name" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Abizena</ion-label>
        <ion-input [(ngModel)]="erreserba.lastname" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Data</ion-label>
        <ion-input [(ngModel)]="erreserba.dateR" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Jende kopurua</ion-label>
        <ion-input [(ngModel)]="erreserba.people" type="number"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Bazkaltzeko edo afaltzeko</ion-label>
        <ion-input [(ngModel)]="erreserba.lunchordinner" type="text"></ion-input>
      </ion-item>
  
     
    </ion-list>
  
    <ion-button expand="full" (click)="gehituForm()">Kluba Gehitu</ion-button>
  
  </ion-content>
</ion-content>